<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="baystatehealth.business.services.waittimes.rss" type="BaystateHealth.Business.Services.WaitTimes.Rss.Configuration.ConfigurationSection, BaystateHealth.Business" />
  </configSections>

  <baystatehealth.business.services.waittimes.rss>
    <locations>
      <location key="1" name="Location 1" description="The first location." url="http://test.localhost.com/1.xml" />
      <location key="2" name="Location 2" description="The second location." url="http://test.localhost.com/2.xml" />
    </locations>
  </baystatehealth.business.services.waittimes.rss>
</configuration>